#!/bin/bash

envup() {
  local file=$1

  if [ -f $file ]; then
    set -a
    source $file
    set +a
  else
    echo "No $file file found" 1>&2
    return 1
  fi
}

# Load restic repositoru config file
envup {{ restic_service_envfile }}

flag="{{ restic_flags }}"
check=`restic $flag cat config 2>/dev/null`

if [ -z "$check" ]; then
  echo "Repo $RESTIC_REPOSITORY is not initilized. Initializing it...."
     restic $flag init
else
  echo "Repor $RESTIC_REPOSITORY already initialized"
fi
