#!/bin/bash

#Define load environment variables file function
envup() {
  local file=$1

  if [ -f $file ]; then
    set -a
    source $file
    set +a
  else
    echo "No $file file found" 1>&2
    return 1
  fi
}

#Define a timestamp function
timestamp() {
date "+%b %d %Y %T %Z"
}

RESTIC={{ restic_path }}
EXCLUDE={{ restic_exclude_file }}
INCLUDE={{ restic_include_file }}
LOG={{ restic_log }}
RESTIC_FLAGS="{{ restic_flags }}"

# Load restic repository config file
envup {{ restic_service_envfile }}


# Add timestamp
echo "$(timestamp): restic-backup started" | tee -a $LOG
echo "-------------------------------------------------------------------------------" | tee -a $LOG

# Run Backups
$RESTIC backup \
$RESTIC_FLAGS \
--exclude-file $EXCLUDE \
--files-from $INCLUDE \
| tee -a $LOG

# Check the repository for errors
# $RESTIC check | tee -a $LOG

# Add timestamp
echo "-------------------------------------------------------------------------------" | tee -a $LOG
echo "$(timestamp): restic.sh finished" | tee -a $LOG
printf "\n" | tee -a $LOG
