#!/bin/bash

#Define a timestamp function
timestamp() {
date "+%b %d %Y %T %Z"
}

RESTIC_WRAPPER={{ restic_etc_dir }}/restic-wrapper.sh
LOG={{ restic_log }}

# Add timestamp
echo "$(timestamp): restic-repo-clean started" | tee -a $LOG
echo "-------------------------------------------------------------------------------" | tee -a $LOG

# Check repository for errors
$RESTIC_WRAPPER check 2>&1 | tee -a $LOG

# Forget old snapshots
$RESTIC_WRAPPER forget --keep-within {{ restic_forget_keep_within }} 2>&1 | tee -a $LOG

# Prune
$RESTIC_WRAPPER prune 2>&1 | tee -a $LOG

# Add timestamp
echo "-------------------------------------------------------------------------------" | tee -a $LOG
echo "$(timestamp): restic-repo-clean finished" | tee -a $LOG
printf "\n" | tee -a $LOG
