[Unit]
Description=Restic backup

[Timer]
OnCalendar={{ restic_backup_systemd_timer_on_calender }}
RandomizedDelaySec={{ restic_backup_systemd_timer_randomized_delay_sec }}

[Install]
WantedBy=timers.target