[Unit]
Description=Restic backup

[Service]
Type=oneshot
User={{ restic_user }}
Group={{ restic_group }}

WorkingDirectory=/usr/local/

CPUQuota={{ 25 * ansible_processor_vcpus }}%

EnvironmentFile={{ restic_service_envfile }}

# Check whether the repository has been initialized. If not initialize it.
ExecStartPre=/bin/bash -c "if [ -z \"$({{ restic_path }} {{ restic_flags }} cat config 2>/dev/null)\" ] ; then echo \"Repo $RESTIC_REPOSITORY not initilialized. Initializing it ...\"; {{ restic_path }} {{ restic_flags }} init; else echo \"Repo already initialized.\"; fi"


{% if restic_check %}
ExecStartPre={{ restic_path }} {{ restic_flags }} check
{% endif -%}

{% for dir in restic_backups_dirs %}
ExecStart={{ restic_path }} {{ restic_flags }} backup --verbose {{ dir.path }} {{ dir.exclude if dir.exclude is defined else '' }}
{% endfor -%}

{% if restic_forget %}
ExecStartPost={{ restic_path }} {{ restic_flags }} forget --keep-within {{ restic_forget_keep_within }}
{% endif -%}

{% if restic_prune %}
ExecStartPost={{ restic_path }} {{ restic_flags }} prune
{% endif -%}